<h1><%= @director.name %></h1>
<h3>Films:</h3>
<div id="films">
  <% @director.films.each do |film| %>
    <h3><%= film.title %> (<%= film.year %>)</h3>
    <p>Gross US Box Office Sales: $<%= film.box_office_sales %></p>
  <% end  %>
</div>

<h2><%= @director.name %>'s Total Box Office Sales: $<%= @director.films.total_sales %></h2>
<h2><%= @director.name %>'s Average Box Office Sales: $<%= @director.films.average_sales %></h2>
