<form  action="/films/<%= @film.id %>" method="post">
  <h3>Edit Film</h3>
  <input type="hidden" name="_method" value="put">
  <dl>
    <dt><label for="film.title">Title: </label></dt>
    <input type='text' name="film[title]" value="<%=@film.title%>"<br/>
    <dt><label for="film.year">Year: </label></dt>
    <input type='text' name="film[year]" value="<%=@film.year%>"><br/>
    <dt><label for="film.box_office_sales">Box Office Sales: </label></dt>
    <input type='integer' name="film[box_office_sales]" value="<%=@film.box_office_sales%>"<br/>
    <dt><label for="film.genre_id">Genre ID: </label></dt>
    <input type='integer' name="film[genre_id]" value="<%=@film.genre_id%>"><br/>
    <dt><label for="film.director_id">Director ID: </label></dt>
    <input type='integer' name="film[director_id]" value="<%=@film.director_id%>"><br/>
  </dl>
  <input type="submit"/>
</form>
